.container-sm {
    margin-left: auto;
    margin-right: auto;
    min-height: 100%; 
    max-width: 480px;
}  
  .hIYHVz {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    /* top: 60px; */
    padding: 0px 16px 80px;
    min-height: calc(100vh - 60px);
  }
  .ehCkHB {
    list-style-type: none;
    display: inline-block;
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.35s ease 0s;
    text-decoration: none;
    width: 100%;
    max-width: 460px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    padding: 10px;
    font-size: 1em;
    border-top-style: solid;
    border-top-color: rgb(222, 222, 222);
    margin: 0px;
    background-color: rgb(255, 255, 255);
  }
  .cwwuxL {
      display: inline-block;
      width: 19%;
      font-size: 8px;
      cursor: pointer;
  }
  .csRwhc {
    width : 150px;
    margin: 6px 5px 5px 0px;
  }
  .oTgHF{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: rgb(152 152 152 / 20%) 0px 2px 8px 1px;
  }
  .izvwwH {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    flex: 1 1 0%;
  }
  .hxopFq {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
    object-fit: cover;
    height: 85px;
  }
  .cveMns {
    min-height: 2.5em;
  }
  .xqVvp {
    font-weight: 600;
    font-size: 0.75rem;
    overflow: hidden;
    overflow-wrap: break-word;
    color: rgb(74, 74, 74);
    margin: 0.25em 0em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .row-card{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 15px;
    gap: 15px;
  }
  .ProductCard_productCard__fV4tL {
  background: #fff;
  border-radius: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: 11px;
  position: relative;
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);
}

.slick-slide img {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}


.CategoriesBar_cat-btn-group__LvhYW{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100%;
  justify-content: space-between;
}

.CategoriesBar_cat-btn__2Hkun {
  max-width: 100%;
  height: 100%;
  font-size: 12px!important;
  font-weight: 500!important;
  background-color: #fff!important;
  border: 0;
  padding: 0!important;
  color: #808285;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.CategoriesBar_cat-btn-icon__2kVqF{
  width: 48px;
}

.CategoriesBar_cat-btn-label__2zV_T{
  margin: 8px auto 6px -20px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
}